* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Poppins', sans-serif;
    font-weight: 700;
    background-color: #f9f9f9;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    margin: 0;
    color: #333;
}

.container {
    width: 90%;
    max-width: 900px;
    border-radius: 15px;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.15);
    padding: 30px;
    text-align: center;
    animation: fadeIn 1.5s ease-out;
    background: linear-gradient(135deg, #f4f0e1, #faf3e0);
    background-size: cover;
    /* border: 2px solid #e0b97e; */
    position: relative;
    overflow: hidden;
}

.container::before {
    content: "";
    position: absolute;
    top: 10px;
    left: 10px;
    right: 10px;
    bottom: 10px;
    background: rgba(255, 255, 255, 0.1);;
    border-radius: 40px;
    pointer-events: none;
    box-shadow: inset 0 0 20px rgba(0, 0, 0, 0.1);
}
.container {
    background-color: #f5c146;
    color: #2c3e50;
    padding: 15px;
    font-size: 26px;
    border-radius: 10px;
    font-weight: bold;
    margin-bottom: 30px;
    box-shadow: inset 0 -10px 20px rgba(0, 0, 0, 0.1); 
    position: relative;
    overflow: visible;/* Criar um efeito de borda "pressionada" */
}
.floating-elements {
    position: relative; /* Garante que as imagens sejam posicionadas em relação a este contêiner */
    padding: 0;         /* Remove qualquer padding */
    margin: 0;          /* Remove qualquer margem */
    border: none;       /* Remove qualquer borda */
    overflow: visible;  /* Garante que o conteúdo flutuante fique visível */
}


.floating-elements img {
    position: absolute; /* Garantir que as imagens flutuem sobre o conteúdo */
    width: 70px; /* Tamanho inicial das imagens */
    object-fit: contain;
    transition: all 0.3s ease; /* Suavizar a animação de movimentação */
    animation: float 4s infinite ease-in-out
}

@keyframes float {
    0% { transform: translate(0, 0) scale(1); }
    50% { transform: translate(10px, 10px) scale(1.2); }
    100% { transform: translate(0, 0) scale(1); }
}
/* Configurações para telas maiores (padrão) */
.floating-img-1 {
    top: 20px;
    left: 50px;
}

.floating-img-2 {
    top: 100px;
    right: 50px;
}

.floating-img-3 {
    top: 180px;
    left: 50px;
}

.floating-img-4 {
    top: 260px;
    right: 50px;
}

.floating-img-5 {
    top: 340px;
    left: 50px;
}

.floating-img-6 {
    top: 420px;
    right: 50px;
}

.floating-img-7 {
    top: 500px;
    left: 50px;
}

.floating-img-8 {
    top: 580px;
    right: 50px;
}

.floating-img-9 {
    top: 660px;
    left: 50px;
}

.floating-img-10 {
    top: 740px;
    right: 50px;
}

.floating-img-11 {
    top: 820px;
    left: 50px;
}

.floating-img-12 {
    top: 900px;
    right: 50px;
}

.header {
    background-color: #f5c146;; /* Amarelo dourado */
    color: #2c3e50;
    padding: 20px;
    border-radius: 10px;
    animation: headerAnimation 2s ease-in-out;
}
.header::before {
    content: "🌸"; /* Flor no canto superior esquerdo */
    font-size: 24px;
    position: absolute;
    top: 5px;
    left: 5px;
}

.title {
    font-family: 'Playfair Display', serif;
    font-size: 32px;
    font-weight: bold;
    word-wrap: break-word;
    line-height: 1.2;
    margin-bottom: 10px;
    color: #2c3e50; /* Tom escuro, mas suave, para a leitura */
    text-transform: uppercase;
}

.subtitle {
    font-family: 'Dancing Script', cursive;
    font-size: 24px;
    font-style: italic;
    color: #fff; /* Tom laranja suave, relacionado ao mel */
}

.content {
    margin-top: 30px;
}

.message {
    font-family: 'Dancing Script', cursive;
    font-size: 24px;
    background-color: #f5c146; /* Amarelo dourado */
    padding: 20px;
    border-radius: 10px;
    color: #333;
    margin-bottom: 30px;
}

button {
    background-color: #d35400; /* Laranja escuro */
    color: white;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
    font-size: 18px;
    transition: background-color 0.3s, transform 0.3s ease-in-out;
    cursor: pointer;
}


button:hover {
    background-color: #e67e22; /* Laranja mais claro */
    transform: scale(1.05);
}
.dedication{
    position: relative;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(255, 255, 255, 0.8);
    color: #333;
    font-size: 18px;
    padding: 20px;
    border-radius: 10px;
    opacity: 0;
    visibility: hidden;
    transition: opacity 0.3s ease-in-out;
}

.photo-container.show-dedication, .dedication{
    opacity: 1;
    visibility: visible;

}



.photo-gallery {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 20px;
    margin-top: 30px;
}
.photo-container {
    position: relative;
    width: 70%;
    max-width: 300px;
    cursor: pointer;
}

.photo {
    width: 80%;
    max-width: 300px;
    height: auto;
    object-fit: cover;
    border-radius: 10px;
    transition: transform 0.3s ease-in-out;
    cursor: pointer;
}

.photo:hover {
    transform: scale(1.1);
}

/* Estilização do Carrossel */
.photo-carousel {
    text-align: center;
    margin: 50px auto;
    position: relative;
    overflow: hidden;
    width: 100%;
    max-width: 100%;
    
}

.photo-carousel h2 {
    margin-bottom: 20px;
    color: #f39c12;
    font-size: 24px;
}

/* Carrossel */

.carousel-wrapper{
    width: 100%;
    overflow: hidden;
}
.carousel {
    display: flex;
    transition: transform 0.5s ease-in-out;
    width: 100%;
    gap: 15px;
    justify-content: center;
    align-items: center;
    transform: translateX(0);
}

.carousel-item {
    flex: 0 0 50%;
    max-width: 100%;
    scroll-snap-align: start;
    perspective: 1000px; /* Efeito 3D */
}

/* Cartão que vira */
.card {
    flex: 0 0 auto;
    width: 100%;
    max-width: 100%;
    height: 300px;
    border-radius: 10px;
    position: relative;
    transform-style: preserve-3d;
    transition: transform 0.8s;
    cursor: pointer;
}

.card.is-flipped {
    transform: rotateY(180deg);
}

.card-front,
.card-back {
    position: absolute;
    width: 100%;
    height: 100%;
    backface-visibility: hidden;
    border-radius: 10px;
    overflow: hidden;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
}

.card-front img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 10px;
}

.card-back {
    background-color: #f5c146;
    display: flex;
    justify-content: center;
    align-items: center;
    transform: rotateY(180deg);
    font-size: 18px;
    color: #fff;
    text-align: center;
    padding: 20px;
}

/* Botões do Carrossel */
#prevBtn,
#nextBtn {
    background-color: #d35400;
    color: #fff;
    border: none;
    padding: 10px 15px;
    margin-top: 20px;
    font-size: 18px;
    cursor: pointer;
    border-radius: 5px;
    transition: background-color 0.3s;
}

#prevBtn:hover,
#nextBtn:hover {
    background-color: #e67e22;
}

.interactive-heart {
    margin-top: 40px;
}

.heart {
    width: 60px;
    height: 60px;
    background: #f39c12; /* Amarelo dourado */
    transform: rotate(45deg);
    position: relative;
    margin: 20px auto;
    box-shadow: -10px 10px 90px rgba(0, 0, 0, 0.2);
    cursor: pointer;
    animation: pulse 1s infinite;
}

.heart:before,
.heart:after {
    content: "";
    position: absolute;
    width: 60px;
    height: 60px;
    border-radius: 50%;
    background-color: #f39c12;
}

.heart:before {
    left: -30px;
    top: 0;
}

.heart:after {
    top: -30px;
    left: 0;
}

.extra-info {
    margin-top: 50px;
    font-size: 20px;
    color: #333;
}
.extra-info h2{
   color: #f39c12;
}

.extra-info::after {
    content: "🌻"; /* Flor delicada no final da seção */
    font-size: 30px;
    position: absolute;
    bottom: 0;
    right: 0;
}

.fade-info {
    opacity: 0;
    animation: fadeInInfo 2s ease-out forwards;
    margin-top: 20px;
}

.final-message {
    margin-top: 60px;
    font-size: 24px;
    color: #f39c12; /* Amarelo dourado */
    font-weight: bold;
    animation: fadeIn 2s ease-out;
}

.footer {
    margin-top: 40px;
    padding: 10px;
    background-color: #f39c12; /* Amarelo dourado */
    color: #fff;
    border-radius: 10px;
}

/* Animações */
@keyframes pulse {
    0% {
        transform: scale(1) rotate(45deg);
    }
    50% {
        transform: scale(1.1) rotate(45deg);
    }
    100% {
        transform: scale(1) rotate(45deg);
    }
}

@keyframes fadeIn {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

@keyframes headerAnimation {
    0% {
        transform: translateY(-100px);
        opacity: 0;
    }
    100% {
        transform: translateY(0);
        opacity: 1;
    }
}

@keyframes fadeInInfo {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

@media (max-width: 768px) {
    .container {
        padding: 10px;
    }

    .header {
        padding: 10px;
    }

    .title {
        font-size: 22px;
    }

    .subtitle {
        font-size: 16px;
    }

    .message {
        font-size: 16px;
        padding: 10px;
    }

    button {
        font-size: 14px;
        padding: 6px 10px;
    }

    .photo-gallery {
        gap: 10px;
    }

    .photo-container {
        width: 100%;
        max-width: 250px;
    }

    .carousel {
        display: flex;
        
        flex-wrap: nowrap;
        
        scroll-snap-type: x mandatory;
        transition: tranform 0.3 ease;
        gap: 10px;
    }

    .carousel-wrapper{
        width: 100%;
    }
    .carousel-item {
        flex: 0 0 94%;
    }
    .card {
        flex: 0 0 auto;
        width: 100%;
        max-width: 100%;
    }
    .card img{
        width: 100%;
        height: 100%;
        object-fit: cover;
    }

    #prevBtn, #nextBtn {
        font-size: 24px;
        padding: 15px 20px;
    }

    .extra-info h2 {
        font-size: 18px;
    }

    .extra-info p {
        font-size: 12px;
    }

    .final-message {
        font-size: 16px;
    }
    
    
    .floating-elements img {
        display: block;
        width: 70px;
    }
    .floating-img-1 {
        width: 70px;
        top: 30px;
        left: 20px;
    }

    .floating-img-2 {
        top: 120px;
        right: -20px;
    }

    .floating-img-3 {
        top: 200px;
        left: 20px;
    }

    .floating-img-4 {
        top: 280px;
        right: -20px;
    }

    .floating-img-5 {
        top: 360px;
        left: 20px;
    }

    .floating-img-6 {
        top: 440px;
        right: -20px;
    }

    .floating-img-7 {
        top: 520px;
        left: 20px;
    }

    .floating-img-8 {
        top: 600px;
        right: -20px;
    }

    .floating-img-9 {
        top: 680px;
        left: 20px;
    }

    .floating-img-10 {
        top: 760px;
        right: -20px;
    }

    .floating-img-11 {
        top: 840px;
        left: 20px;
    }

    .floating-img-12 {
        top: 920px;
        right: -20px;
    }
}
    
    
    
    

    .heart {
        width: 40px;
        height: 40px;
    }

    .heart::before,
    .heart::after {
        width: 40px;
        height: 40px;
    }

